@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .tab-pane {
        width: 90%;
        margin: 0 auto;
    }
</style>
<ul class="nav nav-tabs">
    <li class="active"><a href="#operatorL" data-toggle="tab">初级用户</a></li>
    <li><a href="#operatorH" data-toggle="tab">高级用户</a></li>
    <li><a href="#Supervisor" data-toggle="tab">监管员</a></li>
    <li><a href="#Manager" data-toggle="tab">WorkCell经理</a></li>
    <li><a href="#Admin" data-toggle="tab">系统管理员</a></li>
</ul>
<div class="tab-content">
    <br />
    <div class="tab-pane active" id="operatorL">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>工号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>家庭住址</th>
                    <th>入职日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tool_user_operatorl"></tbody>
        </table>
    </div>
    <div class="tab-pane" id="operatorH">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>工号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>家庭住址</th>
                    <th>入职日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tool_user_operatorh"></tbody>
        </table>
    </div>
    <div class="tab-pane" id="Supervisor">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>工号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>家庭住址</th>
                    <th>入职日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tool_user_supervisor"></tbody>
        </table>
    </div>
    <div class="tab-pane col-sm-offset-1" id="Manager">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>工号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>家庭住址</th>
                    <th>入职日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tool_user_manager"></tbody>
        </table>
    </div>
    <div class="tab-pane col-sm-offset-1" id="Admin">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>工号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>家庭住址</th>
                    <th>入职日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tool_user_admin"></tbody>
        </table>
    </div>
</div>
@*详情弹出框*@
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog  modal-dialog-centered " style="width:30%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改用户权限</h4>
            </div>
            <!-- 模态框主体 -->
            <div class="modal-body" style="padding-left:20%;">
                <div class="radio">
                    <label>
                        <input type="radio" name="newAuthority" value="0"> 初级用户
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="newAuthority" value="1">高级用户
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="newAuthority" value="2">监管员
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="newAuthority" value="3">Workcell经理
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="newAuthority" value="4">系统管理员
                    </label>
                </div>
            </div>
            <div class="media-bottom">
                <input type="button" id="reviseAuthority" class="btn btn-danger" style="margin-left:70%;margin-bottom: 20px;" value="确认修改" />
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        //获取所有仓库数据
        $(function () {
            $.ajax({
                type: "get",//方法类型
                datatype: "json",//预期服务器返回的数据类型
                url: "/Admin/GetUser",
                async: true,
                success: function (result) {
                    var data = eval("(" + result + ")");
                    console.log(data);
                    for (var i = 0; i < data.data.length; i++) {
                        if (data.data[i].user_authority == 0) {
                            $("#tool_user_operatorl").append("<tr><td>" + data.data[i].user_number +
                                "</td><td>" + data.data[i].user_name +
                                "</td><td>" + data.data[i].user_gender +
                                "</td><td>" + data.data[i].user_age.substring(0, 10) +
                                "</td><td>" + data.data[i].user_address +
                                "</td><td>" + data.data[i].user_hiredate.substring(0, 10) +
                                "</td><td><button type='button' class='btn btn-danger btn-sm' onclick='deletePerson(" + data.data[i].user_number +
                                ")'>注销</button>&nbsp;<button type='button' class='btn btn-default btn-sm' data-toggle='modal' data-target='#myModal' onclick='edit(" + JSON.stringify(data.data[i]) +
                                ")'>编辑</button>" +
                                "</td></tr> ")
                        } else if (data.data[i].user_authority == 1) {
                            $("#tool_user_operatorh").append("<tr><td>" + data.data[i].user_number +
                                "</td><td>" + data.data[i].user_name +
                                "</td><td>" + data.data[i].user_gender +
                                "</td><td>" + data.data[i].user_age.substring(0, 10) +
                                "</td><td>" + data.data[i].user_address +
                                "</td><td>" + data.data[i].user_hiredate.substring(0, 10) +
                                "</td><td><button type='button' class='btn btn-danger btn-sm' onclick='deletePerson(" + data.data[i].user_number +
                                ")'>注销</button>&nbsp;<button type='button' class='btn btn-default btn-sm' data-toggle='modal' data-target='#myModal' onclick='edit(" + JSON.stringify(data.data[i]) +
                                ")'>编辑</button>" +
                                "</td></tr> ")
                        } else if (data.data[i].user_authority == 2) {
                            $("#tool_user_supervisor").append("<tr><td>" + data.data[i].user_number +
                                "</td><td>" + data.data[i].user_name +
                                "</td><td>" + data.data[i].user_gender +
                                "</td><td>" + data.data[i].user_age.substring(0, 10) +
                                "</td><td>" + data.data[i].user_address +
                                "</td><td>" + data.data[i].user_hiredate.substring(0, 10) +
                                "</td><td><button type='button' class='btn btn-danger btn-sm' onclick='deletePerson(" + data.data[i].user_number +
                                ")'>注销</button>&nbsp;<button type='button' class='btn btn-default btn-sm' data-toggle='modal' data-target='#myModal' onclick='edit(" + JSON.stringify(data.data[i]) +
                                ")'>编辑</button>" +
                                "</td></tr> ")
                        } else if (data.data[i].user_authority == 3) {
                            $("#tool_user_manager").append("<tr><td>" + data.data[i].user_number +
                                "</td><td>" + data.data[i].user_name +
                                "</td><td>" + data.data[i].user_gender +
                                "</td><td>" + data.data[i].user_age.substring(0, 10) +
                                "</td><td>" + data.data[i].user_address +
                                "</td><td>" + data.data[i].user_hiredate.substring(0, 10) +
                                "</td><td><button type='button' class='btn btn-danger btn-sm' onclick='deletePerson(" + data.data[i].user_number +
                                ")'>注销</button>&nbsp;<button type='button' class='btn btn-default btn-sm' data-toggle='modal' data-target='#myModal' onclick='edit(" + JSON.stringify(data.data[i]) +
                                ")'>编辑</button>" +
                                "</td></tr> ")
                        } else {
                            $("#tool_user_admin").append("<tr><td>" + data.data[i].user_number +
                                "</td><td>" + data.data[i].user_name +
                                "</td><td>" + data.data[i].user_gender +
                                "</td><td>" + data.data[i].user_age.substring(0, 10) +
                                "</td><td>" + data.data[i].user_address +
                                "</td><td>" + data.data[i].user_hiredate.substring(0, 10) +
                                "</td><td><button type='button' class='btn btn-danger btn-sm' onclick='deletePerson(" + data.data[i].user_number +
                                ")'>注销</button>&nbsp;<button type='button' class='btn btn-default btn-sm' data-toggle='modal' data-target='#myModal' onclick='edit(" + JSON.stringify(data.data[i]) +
                                ")'>编辑</button>" +
                                "</td></tr> ")
                        }
                    }
                },
                error: function () {
                    console.log("系统出错了，请联系管理员解决");
                }
            })
        })
        //注销用户
        function deletePerson(x) {
            var message = confirm("确定注销用户吗？操作后不可更改");
            if (message == true) {
                $.ajax({
                    type: "get",//方法类型
                    datatype: "json",//预期服务器返回的数据类型
                    url: "/Admin/deleteUser?user_number=" + x,
                    async: true,
                    success: function (result) {
                        if (result == 200) {
                            location.reload();
                        }
                    },
                    error: function () {
                        console.log("系统出错了，请联系管理员解决");
                    }
                })
            }
        }
        //编辑
        function edit(x) {
            $("#reviseAuthority").click(function () {

                var val = $('input[name="newAuthority"]:checked').val();
                if (val == x.user_authority || val == null) {
                    $("#myModal").modal("hide");
                }
                else {
                    var data = {
                        user_number : x.user_number,
                        user_authority : val
                    }
                    $.ajax({
                        type: "post",//方法类型
                        datatype: "json",//预期服务器返回的数据类型
                        url: "/Admin/edit",
                        data: data,
                        async: true,
                        success: function (result) {
                            if (result == 200) {
                                alert("修改成功！");
                                location.reload();
                            }
                        },
                        error: function () {
                            console.log("系统出错了，请联系管理员解决");
                        }
                    })
                }
            })
            // console.log(val);
        }
    </script>
}


